/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
/*noinspection CssUnknownTarget*/
@import url('http://www.w3schools.com/lib/w3.css');
/*noinspection CssUnknownTarget*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

/* main body css*/
body{
    font-family: 'Roboto', sans-serif;
}

/* handles all strong elements*/
strong{
    font-family: 'Roboto', sans-serif;
    font-size : 30px;
    text-decoration: underline;
    position: fixed;
    left: 45%;
}

/* The Gear icon next to the username. The icon is a special text character, so it can be added anywhere */
.gear{
    position: absolute;
    left: 74%;
    top: 0.8%;
    color: deepskyblue;
    text-decoration-line: none;
    font-size: 16pt;
}

/* All css in this section are connected with the sidenav */
.w3-sidenav{
    position: relative;
    display:none;
    z-index:2;
    width:10%;
    min-width:100px;
    left: 300px;
    height:185px;
    background-color: dimgrey;
}

.w3-top{
    width:10px;
}

.w3-white{
    position: absolute;
    left:45%;
}

.w3-opennav{
    position: relative;
    left: 300px;
    font-size: x-large;
}

nav{
    color: black;
}

/*===================================================*/

/* Sign-up form css */
.signupForm{
    font-family: 'Roboto', sans-serif;
    font-size : 14px;
    position: relative;
    top: 200px;
    left: 15%;
}


/* Sign-in form css */
.signinForm{
    font-family: 'Roboto', sans-serif;
    font-size : 14px;
    position: relative;
    top: 200px;
    left: 15%;
}

/* Header in sign-up and sign-in form css */
h1{
    position:fixed;

}

/* Text input in sign-up and sign-in form */
.inpUser{
    padding: 10px;
    position: fixed;
    left: 45%;
    border-radius: 10px;
}

.inpEmail{
    padding: 10px;
    position: fixed;
    left: 44.5%;
    margin: 10px;
    border-radius: 10px;
}

.inpPass{
    padding: 10px;
    position: fixed;
    left: 44%;
    margin: 20px;
    border-radius: 10px;
}

.inpConfirmPass{
    padding: 10px;
    position: fixed;
    left: 43.5%;
    margin: 30px;
    border-radius: 10px;
}

/* Submit button in sign-up and sign-in form */
.submit{
    padding: 10px;
    position: absolute;
    width: 235px;
    left: 27%;
    top: 100%;
    margin: 40px;
    border-radius: 10px;
}

/* Sign-up header css */
.signupH1{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    position: relative;
    top: 200px;
    color: brown;
}

/* Sign-in header css */
.signinH1{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    position: relative;
    left: -10px;
    color: darkorange;
    top: 200px;
}

/* Shoutbox display area css */
.callcomments{
    width: 500px;
    height: 500px;
    position: relative;
    left: 35%;
    top: 100px;
    text-align: left;
    overflow-y: auto;
}

.callPcomments{
    width: 500px;
    position: absolute;
    right: 5%;
    top: 280px;
    text-align: left;
}

/* Shoutbox submit button css */
.post{
    position: relative;
    left: 35%;
    top: 100px;
    width: 500px;
    border-radius: 40px;
}

/* Submit button for personal comments css */
.Ppost{
    position: absolute;
    right: 6%;
    top: 220px;
    width: 455px;
    padding: 10px;
    border-radius:25px;
}

/* Shoutbox textarea css */
.cmt{
    width: 500px;
    resize: none;
    position: relative;
    left: 35%;
    top: 110px;
    border-radius: 15px;
}

/* Comment section for profiles css */
.Pcmt{
    width: 500px;
    resize: none;
    position: absolute;
    right: 5%;
    top: 150px;
    border-radius: 20px;
}

/* About page css */
.about{
    position: relative;
    left: 40%;
    top: 200px;
}

/* Forum whole display div css */
.forumDis{
    position: absolute;
}

/* Forum important posts display css */
.impArea{
    position: fixed;
    left: 30%;
    top:80px;
}

/* Forum general posts display css */
.genArea{
    position: fixed;
    left:60%;
    top:80px;
}

/* links css */
a{
    color: goldenrod;
}

/* Forum create box css */
.crForum{
    position: absolute;
    left: 100px;
    top: 200px;
}

/* Forum submit button css */
.forumSubmit{
    position: relative;
    right: 60px;
    bottom: 70px;
}

/* Forum create new Forum header */
h2{
    font-size:16pt;
    left:-60px;
    position:relative;
    bottom: 65px;
}

/* Forum name display css */
.frname{
    position:relative;
    width:250px;
}

/* Forum description display css */
.fdesc{
    position:relative;
    resize: none;
    top: 15px;
}

/* Forum important header*/
h3{
    color:green;
}

/* Forum other header*/
h4{
    color: green;
}

/* Forum post title  */
h5{
    color: palegoldenrod;
    border: double;
    font-size: 14pt;
    padding: 10px;
    width: auto;
    display: inline;
}

/* Posts view css*/
.postView{
    position: fixed;
    width: 400px;
    left: 16%;
    top: 10%;
}

/* Post text area css */
.postbody{
    resize: none;
    width: 500px;
    height: 100px;
    border-radius: 15px;
}

.pst{
    position: relative;
    border-radius: 50px;
    height: 50px;
    left: 200px;
}

/* Search profiles search box */
.searchName{
    position: fixed;
    top: 8px;
    border-radius: 15px;
}

.submitSearch{
    position: fixed;
    top: 9px;
    width: 100px;
    left: 190px;
    border-radius: 15px;
}


/* User linking in Profile search */
.PrUSer{
    position: fixed;
    top: 100px;
    left: 100px;
}

.PrUserCol{
    position: fixed;
    top:50px;
    border: solid lightslategray;
    width: 250px;
    text-align: center;
    height: 300px;
    background-color: black;
    border-radius: 10px;
}

/*=======================================*/

/*===============Settings page CSS =============*/
.PassChange{
    position:relative;
    text-align: center;
    right: 200px;
    top:170px;
}

.OldPass{
    margin:20px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}
.NewPass{
    margin:10px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}
.changePass{
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.EmailChange{
    position:relative;
    text-align: center;
    right: 200px;
    top:190px;
}

.OldMail{
    margin:20px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}
.NewMail{
    margin:10px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}
.changeMail{
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.submitChange{
    position:relative;
    text-align: center;
    left: 66%;
    padding: 20px;
    height: 100px;
    border-radius: 80px;
}

.delAccount{
    position:relative;
    left:64%;
    bottom: 360px;
    text-align: center;
    width: 200px;
}

.chagnesMsg
{
    position: relative;
    color: indianred;
    bottom: 300px;
    left: 100px;
}
/*==============================================*/

