/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
/*noinspection CssUnknownTarget*/
@import url('http://www.w3schools.com/lib/w3.css');
/*noinspection CssUnknownTarget*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');


body{
    font-family: 'Roboto', sans-serif;
}


strong{
    font-family: 'Roboto', sans-serif;
    font-size : 30px;
    padding: 350px;
    text-decoration: underline;
    position: relative;
    left: 20%;
}

.pcmt{
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
    position: relative;
    left: 40%;
}

.w3-sidenav{
    position: relative;
    display:none;
    z-index:2;
    width:10%;
    min-width:100px;
    left: 300px;
    height:20%;
}

.w3-white{
    position: absolute;
    left:45%;
}
.w3-opennav{
    position: relative;
    left: 300px;
    font-size: x-large;
}

.signupForm{
    font-family: 'Roboto', sans-serif;
    font-size : 14px;
    padding: 300px;
    position: relative;
    left: 3%;
}

.signinForm{
    font-family: 'Roboto', sans-serif;
    font-size : 14px;
    padding: 350px;
}

.inp{
    padding: 10px;
    position: relative;
    left: 510px;
}

nav{
    color: black;
}

.submit{
    padding: 10px;
    float: left;
    position: relative;
    left: 565px;
    top: 5px;
}

.func{
    padding: 10px;
    float: left;
    position: relative;
    left: 570px;
}

.signupH1{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    position: relative;
    top: 250px;
}

.signinH1{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    position: relative;
    top: 300px;
}

.callcomments{
    width: 500px;
    height: 500px;
    position: relative;
    left: 35%;
    top: 100px;
    text-align: left;
    overflow-y: auto;
}
.post{
    position: relative;
    left: 35%;
    top: 100px;
    width: 500px;
}

.cmt{
    width: 500px;
    resize: none;
    position: relative;
    left: 35%;
    top: 110px;
}

.about{
    position: relative;
    left: 40%;
    top: 200px;
}